# Application
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
APP_ENV=development
LOG_LEVEL=INFO

# Kafka
KAFKA_BROKER=kafka:9092
KAFKA_TOPIC_NSLKDD=nslkdd
KAFKA_TOPIC_CICIDS=cicids

# Elasticsearch
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_HTTP_SCHEME=http

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# DVC
DVC_REMOTE=local
